:root {
  --tvk--default-sheet: true;

  // Global variables
  --tvk_base_font-size: 0.9rem;

  --tvk_base_font-family: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --tvk_base_radius: 0.5em;
  --tvk_base_spacing: 0.5em;
  --tvk_base_box-shadow: none;

  // Main wrapper
  --tvk_wrapper_flex-direction: column;
  --tvk_wrapper_gap: var(--tvk_base_spacing);

  --tvk_wrapper_margin: 0em;
  --tvk_wrapper_padding: calc(var(--tvk_base_spacing) * 2);

  --tvk_wrapper_min-width: 15em;
  --tvk_wrapper_width: auto;
  --tvk_wrapper_max-width: initial;

  --tvk_wrapper_min-height: 0em;
  --tvk_wrapper_height: auto;
  --tvk_wrapper_max-height-base: 70vh;
  --tvk_wrapper_max-height: calc(
    var(--tvk_wrapper_max-height-base) - calc(var(--tvk_wrapper_margin) * 2)
  );

  --tvk_wrapper_line-height: 1;

  --tvk_wrapper_border: none;
  --tvk_wrapper_border-radius: initial;
  --tvk_wrapper_box-shadow: none;

  --tvk_wrapper_background: var(--tvk_colors_background);

  // Links
  --tvk_wrapper_links_text-decoration: none;

  // Messages
  --tvk_messages_padding: var(--tvk_base_spacing);
  --tvk_messages_overflow: auto;
  --tvk_messages_flex-grow: 1;

  // Messages shaders
  --tvk_messages_shaders_top-display: block;
  --tvk_messages_shaders_bottom-display: block;

  // Message
  --tvk_message_flex-direction: row;
  --tvk_message_margin: 0em 0em var(--tvk_base_spacing) 0em;
  --tvk_message_flex-wrap: wrap;
  --tvk_message_gap: var(--tvk_base_spacing);

  // Message answer
  --tvk_message_answer_flex-wrap: wrap;
  --tvk_message_answer_gap: initial;
  --tvk_message_answer_align-items: start;
  --tvk_message_answer_flex-direction: column;
  --tvk_message_answer_flex-grow: 1;
  --tvk_message_answer_flex-shrink: 0;
  --tvk_message_answer_flex-basis-base: 100%;
  --tvk_message_answer_flex-basis: calc(
    var(--tvk_message_answer_flex-basis-base) - calc(var(--tvk_message_gap) / 2)
  );

  // Message for user
  --tvk_message_user_margin: var(--tvk_message_margin);

  // Message answer for user
  --tvk_message_answer_user_flex-direction: column;
  --tvk_message_answer_user_justify-content: end;
  --tvk_message_answer_user_align-items: end;
  --tvk_message_answer_user_margin: unset;
  --tvk_message_answer_user_padding: unset;
  --tvk_message_answer_user_color: unset;
  --tvk_message_answer_user_background: unset;
  --tvk_message_answer_user_border: unset;
  --tvk_message_answer_user_border-top: unset;
  --tvk_message_answer_user_border-right: unset;
  --tvk_message_answer_user_border-bottom: unset;
  --tvk_message_answer_user_border-left: unset;

  // Message for bot
  --tvk_message_bot_margin: var(--tvk_message_margin);

  // Message answer for bot
  --tvk_message_answer_bot_flex-direction: column;
  --tvk_message_answer_bot_justify-content: start;
  --tvk_message_answer_bot_align-items: start;
  --tvk_message_answer_bot_margin: unset;
  --tvk_message_answer_bot_padding: unset;
  --tvk_message_answer_bot_color: unset;
  --tvk_message_answer_bot_background: unset;
  --tvk_message_answer_bot_border: unset;
  --tvk_message_answer_bot_border-top: unset;
  --tvk_message_answer_bot_border-right: unset;
  --tvk_message_answer_bot_border-bottom: unset;
  --tvk_message_answer_bot_border-left: unset;

  // Message header
  --tvk_message_header_font-size: 90%;
  --tvk_message_header_font-weight: bold;
  --tvk_message_header_color: var(--tvk_colors_text2);
  --tvk_message_header_gap: var(--tvk_base_spacing);
  --tvk_message_header_margin: 0em 0em var(--tvk_base_spacing) 0em;
  --tvk_message_header_align-items: center;

  // Message header for user
  --tvk_message_header_user_flex-direction: row-reverse;

  // Message header for bot
  --tvk_message_header_bot_flex-direction: row;

  // Message header avatar
  --tvk_message_header_avatar_box-shadow: var(--tvk_base_box-shadow);
  --tvk_message_header_avatar_padding: 0.3em;
  --tvk_message_header_avatar_font-size: inherit;
  --tvk_message_header_avatar_radius: 50%;

  // Message header avatar img
  --tvk_message_header_avatar_img-border-radius: unset;

  // Message header avatar for user
  --tvk_message_header_avatar_user_color: var(--tvk_colors_text1);
  --tvk_message_header_avatar_user_background: var(--tvk_colors_surface1);
  --tvk_message_header_avatar_user_padding: var(
    --tvk_message_header_avatar_padding
  );
  --tvk_message_header_avatar_user_radius: var(
    --tvk_message_header_avatar_radius
  );

  // Message header avatar for bot
  --tvk_message_header_avatar_bot_color: var(--tvk_colors_text2);
  --tvk_message_header_avatar_bot_background: var(--tvk_colors_surface2);
  --tvk_message_header_avatar_bot_padding: var(
    --tvk_message_header_avatar_padding
  );
  --tvk_message_header_avatar_bot_radius: var(
    --tvk_message_header_avatar_radius
  );

  // Message body
  --tvk_message_body_width: auto;
  --tvk_message_body_max-width: unset;
  --tvk_message_body_grow: inherit;
  --tvk_message_body_padding: var(--tvk_base_spacing);
  --tvk_message_body_radius: var(--tvk_base_radius);
  --tvk_message_body_border: none;
  --tvk_message_body_line-height: inherit;

  --tvk_message_body_box-shadow: var(--tvk_base_box-shadow);

  // Message body for user
  --tvk_message_body_user_color: var(--tvk_colors_text1);
  --tvk_message_body_user_background: var(--tvk_colors_surface1);
  --tvk_message_body_user_radius-top-left: var(--tvk_message_body_radius);
  --tvk_message_body_user_radius-top-right: 0;
  --tvk_message_body_user_radius-bottom-left: var(--tvk_message_body_radius);
  --tvk_message_body_user_radius-bottom-right: var(--tvk_message_body_radius);

  --tvk_message_body_user_border: var(--tvk_message_body_border);

  --tvk_message_body_user_box-shadow: var(--tvk_message_body_box-shadow);

  // Message body for bot
  --tvk_message_body_bot_color: var(--tvk_colors_text2);
  --tvk_message_body_bot_background: var(--tvk_colors_surface2);
  --tvk_message_body_bot_radius-top-left: 0;
  --tvk_message_body_bot_radius-top-right: var(--tvk_message_body_radius);
  --tvk_message_body_bot_radius-bottom-left: var(--tvk_message_body_radius);
  --tvk_message_body_bot_radius-bottom-right: var(--tvk_message_body_radius);

  --tvk_message_body_bot_border: var(--tvk_message_body_border);

  --tvk_message_body_bot_box-shadow: var(--tvk_message_body_box-shadow);

  // Side footnotes
  --tvk_side-footnotes_flex-grow: 1;
  --tvk_side-footnotes_flex-shrink: 0;
  --tvk_side-footnotes_flex-basis-base: 100%;
  --tvk_side-footnotes_flex-basis: calc(
    var(--tvk_side-footnotes_flex-basis-base) - calc(var(--tvk_message_gap) / 2)
  );

  // Footnotes
  --tvk_footnotes_display: flex;
  --tvk_footnotes_flex-direction: row;
  --tvk_footnotes_flex-wrap: wrap;
  --tvk_footnotes_gap: var(--tvk_base_spacing);
  --tvk_footnotes_align-items: center;
  --tvk_footnotes_margin: var(--tvk_base_spacing) 0em 0em 0em;
  --tvk_footnotes_font-size: 0.7rem;

  // Footnotes label
  --tvk_footnotes_sources-title_display: inline;

  // Footnote
  --tvk_footnotes_footnote_flex-direction: column;
  --tvk_footnotes_footnote_justify-content: normal;
  --tvk_footnotes_footnote_gap: initial;
  --tvk_footnotes_footnote_padding: calc(var(--tvk_base_spacing) / 2)
    var(--tvk_base_spacing);
  --tvk_footnotes_footnote_width: auto;
  --tvk_footnotes_footnote_background: var(--tvk_colors_neutral);
  --tvk_footnotes_footnote_color: var(--tvk_colors_text2);
  --tvk_footnotes_footnote_line-height: inherit;
  --tvk_footnotes_footnote_border: none;
  --tvk_footnotes_footnote_border-radius: none;
  --tvk_footnotes_footnote_box-shadow: none;

  // Footnote title
  --tvk_footnotes_footnote_title_font-size: inherit;
  --tvk_footnotes_footnote_title_font-weight: normal;
  --tvk_footnotes_footnote_title_font-style: inherit;
  // Footnote content
  --tvk_footnotes_footnote_content_font-size: inherit;
  --tvk_footnotes_footnote_content_margin: initial;
  --tvk_footnotes_footnote_content_padding: initial;
  --tvk_footnotes_footnote_content_font-weight: normal;
  --tvk_footnotes_footnote_content_font-style: inherit;
  // Footnote content Show more link
  --tvk_footnotes_footnote_content_show-more-link_float: none;

  // Message loader
  --tvk_message_loader_size: 8px;
  --tvk_message_loader_margin: 0 0 0 var(--tvk_message_loader_size);
  --tvk_message_loader_color-a: var(--tvk_colors_surface1);
  --tvk_message_loader_color-b: var(--tvk_colors_surface2);

  // Question bar
  --tvk_question_flex-direction: row;

  --tvk_question_width: auto;

  --tvk_question_margin: var(--tvk_base_spacing);
  --tvk_question_padding: var(--tvk_base_spacing);

  --tvk_question_border: 1px solid var(--tvk_colors_surface2);

  --tvk_question_background: var(--tvk_colors_surface2);

  --tvk_question_color: var(--tvk_colors_text2);

  --tvk_question_radius: var(--tvk_base_radius);
  --tvk_question_box-shadow: var(--tvk_base_box-shadow);

  // Question bar input
  --tvk_question_input_text-align: unset;

  // Question bar chars count indicator
  --tvk_question_chars-count_display: initial;
  --tvk_question_chars-count_font-size: 80%;

  // Question bar button clear history
  --tvk_question_btn-clear-history_gap: var(--tvk_base_spacing);
  --tvk_question_btn-clear-history_flex-direction: row;

  // Question bar button submit
  --tvk_question_btn-submit_gap: var(--tvk_base_spacing);
  --tvk_question_btn-submit_flex-direction: row;
  --tvk_question_btn-submit_background: var(--tvk_colors_brand);
  --tvk_question_btn-submit_color: var(--tvk_colors_text1);
  --tvk_question_btn-submit_border: 0 none var(--tvk_colors_brand);
  --tvk_question_btn-submit_border-radius: 5em;
  --tvk_question_btn-submit_padding: var(--tvk_base_spacing);

  // Thumbnails
  --tvk_thumbnail_padding: 0.25em;
  --tvk_thumbnail_background: var(--tvk_colors_surface2);
  --tvk_thumbnail_border: 1px solid var(--tvk_colors_neutral-dim);
  --tvk_thumbnail_max-width: 100%;
  --tvk_thumbnail_height: auto;
  --tvk_thumbnail_max-height: 15em;

  --tvk_card_text-align: center;
}

.tvk-wrapper {
  // ScrollBars
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--tvk_colors_neutral);
    border-radius: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tvk_colors_neutral-dim);
    border-radius: 7px;
  }

  /* links */
  a:link {
    color: var(--tvk_colors_links);
    text-decoration: var(--tvk_wrapper_links_text-decoration);
  }

  /* visited links */
  a:visited {
    color: var(--tvk_colors_links);
    text-decoration: var(--tvk_wrapper_links_text-decoration);
  }

  /* mouse over link */
  a:hover {
    color: var(--tvk_colors_links);
    text-decoration: var(--tvk_wrapper_links_text-decoration);
  }

  /* selected link */
  a:active {
    color: var(--tvk_colors_links);
  }
}
