// @import 'bootstrap-import';
@import "./normalize.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "./colors.scss";
@import "./base.scss";
@import "./buttons.scss";

.tvk-wrapper {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  display: flex;

  min-width: var(--tvk_wrapper_min-width);
  width: var(--tvk_wrapper_width);
  max-width: var(--tvk_wrapper_max-width);

  min-height: var(--tvk_wrapper_min-height);
  height: var(--tvk_wrapper_height);
  max-height: var(--tvk_wrapper_max-height);

  flex-direction: var(--tvk_wrapper_flex-direction);
  gap: var(--tvk_wrapper_gap);

  margin: var(--tvk_wrapper_margin);
  padding: var(--tvk_wrapper_padding);

  font-family: var(--tvk_base_font-family);
  font-size: var(--tvk_base_font-size);
  line-height: var(--tvk_wrapper_line-height);

  background-color: var(--tvk_colors_app-background-color);

  border: var(--tvk_wrapper_border);
  border-radius: var(--tvk_wrapper_border-radius);

  box-shadow: var(--tvk_wrapper_box-shadow);

  // messages
  .tvk-messages {
    position: relative;
    padding: var(--tvk_messages_padding);
    overflow: var(--tvk_messages_overflow);

    // messages shaders
    .tvk-shader {
      pointer-events: none;
      height: 10px;
      position: sticky;
      left: 0;
      right: 0;
    }

    .tvk-shader-top {
      display: var(--tvk_messages_shaders_top-display);
      top: calc(var(--tvk_messages_padding) * -1.1);
      background: linear-gradient(
        180deg,
        var(--tvk_colors_app-background-color) 0%,
        transparent 100%
      );
    }

    .tvk-shader-bottom {
      display: var(--tvk_messages_shaders_bottom-display);
      bottom: calc(var(--tvk_messages_padding) * -1.1);
      background: linear-gradient(
        0deg,
        var(--tvk_colors_app-background-color) 0%,
        transparent 100%
      );
    }

    // message
    .tvk-message {
      flex-grow: 1;
      display: flex;

      flex-wrap: var(--tvk_message_flex-wrap);

      align-items: var(--tvk_message_align-items);

      margin: var(--tvk_message_margin);

      scroll-behavior: smooth;

      // message header
      .tvk-message-header {
        display: flex;
        gap: var(--tvk_message_header_gap);
        align-items: var(--tvk_message_header_align-items);
        margin: var(--tvk_message_header_margin);
        font-size: var(--tvk_message_header_font-size);
        font-weight: var(--tvk_message_header_font-weight);
        color: var(--tvk_message_header_color);

        .tvk-message-header-avatar {
          font-size: var(--tvk_message_header_avatar_font-size);
        }
      }

      .tvk-message-header-line-break {
        width: var(--tvk_message_header_line-break-width);
      }

      // message body
      .tvk-message-body {
        display: inline-block;
        flex-grow: var(--tvk_message_body_grow);
        padding: var(--tvk_message_body_padding);
        border-radius: var(--tvk_message_body_radius);
        line-height: var(--tvk_message_body_line-height);
      }

      .tvk-message-body-from-app {
        display: inline-block;
        flex-grow: var(--tvk_message_body_grow);
        padding: var(--tvk_message_body_padding);
        border-radius: var(--tvk_message_body_radius);
        width: 100%;

        .tvk-message-loader {
          position: relative;

          margin: var(--tvk_message_loader_margin);

          width: var(--tvk_message_loader_size);
          height: var(--tvk_message_loader_size);

          border-radius: 50%;

          background-color: var(--tvk_message_loader_color-a);

          box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
              var(--tvk_message_loader_color-a),
            calc(var(--tvk_message_loader_size) * 2 * -1) 0
              var(--tvk_message_loader_color-a);

          animation: tvk-loader-animation 0.5s ease-out infinite alternate;
        }
      }

      // USER
      &.tvk-message-user {
        justify-content: var(--tvk_message_user_justify-content);

        margin: var(--tvk_message_user_margin);

        .tvk-message-header {
          flex-direction: var(--tvk_message_header_user_flex-direction);

          .tvk-message-header-avatar {
            padding: var(--tvk_message_header_avatar_user_padding);
            border-radius: var(--tvk_message_header_avatar_user_radius);
            color: var(--tvk_message_header_avatar_user_color);
            background-color: var(
              --tvk_message_header_avatar_user_background-color
            );
          }

          .tvk-message-header-label-bot {
            display: none;
          }
        }

        .tvk-message-body {
          color: var(--tvk_message_body_user_color);
          background-color: var(--tvk_message_body_user_background-color);
          border-top-left-radius: var(--tvk_message_body_user_radius-top-left);
          border-top-right-radius: var(
            --tvk_message_body_user_radius-top-right
          );
          border-bottom-left-radius: var(
            --tvk_message_body_user_radius-bottom-left
          );
          border-bottom-right-radius: var(
            --tvk_message_body_user_radius-bottom-right
          );

          border: var(--tvk_message_body_user_border);

          box-shadow: var(--tvk_message_body_user_box-shadow);
        }
      }

      // BOT
      &.tvk-message-bot {
        justify-content: var(--tvk_message_bot_justify-content);
        margin: var(--tvk_message_bot_margin);
        .tvk-message-header {
          flex-direction: var(--tvk_message_header_bot_flex-direction);

          .tvk-message-header-avatar {
            padding: var(--tvk_message_header_avatar_bot_padding);
            border-radius: var(--tvk_message_header_avatar_bot_radius);
            color: var(--tvk_message_header_avatar_bot_color);
            background-color: var(
              --tvk_message_header_avatar_bot_background-color
            );
          }

          .tvk-message-header-label-user {
            display: none;
          }
        }

        .tvk-message-body {
          max-width: 100%;
          white-space: pre-line;
          color: var(--tvk_message_body_bot_color);
          background-color: var(--tvk_message_body_bot_background-color);

          border-top-left-radius: var(--tvk_message_body_bot_radius-top-left);
          border-top-right-radius: var(--tvk_message_body_bot_radius-top-right);
          border-bottom-left-radius: var(
            --tvk_message_body_bot_radius-bottom-left
          );
          border-bottom-right-radius: var(
            --tvk_message_body_bot_radius-bottom-right
          );

          border: var(--tvk_message_body_bot_border);

          box-shadow: var(--tvk_message_body_bot_box-shadow);

          .tvk-message-footnotes {
            display: var(--tvk_message_footnotes_display);
            flex-direction: var(--tvk_message_footnotes_flex-direction);
            flex-wrap: var(--tvk_message_footnotes_flex-wrap);
            gap: var(--tvk_message_footnotes_gap);
            align-items: var(--tvk_message_footnotes_align-items);
            margin: var(--tvk_message_footnotes_margin);
            font-size: var(--tvk_message_footnotes_font-size);

            .tvk-message-footnote {
              padding: var(--tvk_message_footnote_padding);
              background-color: var(--tvk_message_footnote_background-color);
              color: var(--tvk_message_footnote_color);
              line-height: var(--tvk_message_footnote_line-height);
            }
          }
        }
      }
    }
  }

  // question-bar
  .tvk-question-bar {
    display: flex;

    gap: 0.5em;
    align-items: center;

    margin: var(--tvk_question_margin);
    padding: var(--tvk_question_padding);

    border: var(--tvk_question_border);

    border-radius: var(--tvk_question_radius);

    background-color: var(--tvk_question_background-color);

    color: var(--tvk_question_color);

    box-shadow: var(--tvk_question_box-shadow);

    .tvk-question-bar-clear-history {
    }

    .tvk-question-bar-form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin: 0;

      .tvk-question-bar-input {
        flex-grow: 1;
        width: 100%;
        border: none;
        resize: none;
        cursor: text;
        background-color: transparent;
        color: inherit;

        &:focus-visible {
          outline: none;
        }
      }

      .tvk-question-bar-chars-count {
        display: var(--tvk_question_chars-count_display);
        font-size: var(--tvk_question_chars-count_font-size);
        color: var(--tvk_colors_text-muted);
      }
    }
  }
}

@keyframes tvk-loader-animation {
  0% {
    background-color: var(--tvk_message_loader_color-b);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-b),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-a);
  }
  50% {
    background-color: var(--tvk_message_loader_color-a);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-b),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-b);
  }
  100% {
    background-color: var(--tvk_message_loader_color-b);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-a),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-b);
  }
}

.tvk-card {
  text-align: var(--tvk_card_text-align);
}

.tvk-thumbnail {
  padding: var(--tvk_thumbnail_padding);
  border-radius: var(--tvk_base_radius);
  background-color: var(--tvk_thumbnail_background-color);
  border: var(--tvk_thumbnail_border);
  max-width: var(--tvk_thumbnail_max-width);
  height: var(--tvk_thumbnail_height);
  max-height: var(--tvk_thumbnail_max-height);
}

.tvk-carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .tvk-carousel-inner {
    display: flex;
    align-items: center;

    .tvk-carousel-card {
      width: auto;
      min-width: 10em;
      padding-right: 0.5em;
    }
  }
}

.tvk-carousel-controls {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
}
