// @import 'bootstrap-import';
@import "./normalize.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import "./colors.scss";
@import "./base.scss";
@import "./buttons.scss";

.tvk-wrapper {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }

  display: flex;

  min-width: var(--tvk_wrapper_min-width);
  width: var(--tvk_wrapper_width);
  max-width: var(--tvk_wrapper_max-width);

  min-height: var(--tvk_wrapper_min-height);
  height: var(--tvk_wrapper_height);
  max-height: var(--tvk_wrapper_max-height);

  flex-direction: var(--tvk_wrapper_flex-direction);
  gap: var(--tvk_wrapper_gap);

  margin: var(--tvk_wrapper_margin);
  padding: var(--tvk_wrapper_padding);

  font-family: var(--tvk_base_font-family);
  font-size: var(--tvk_base_font-size);
  line-height: var(--tvk_wrapper_line-height);

  background: var(--tvk_wrapper_background);

  border: var(--tvk_wrapper_border);
  border-radius: var(--tvk_wrapper_border-radius);

  box-shadow: var(--tvk_wrapper_box-shadow);

  // messages
  .tvk-messages {
    position: relative;
    padding: var(--tvk_messages_padding);
    overflow: var(--tvk_messages_overflow);
    flex-grow: var(--tvk_messages_flex-grow);

    // messages shaders
    .tvk-shader {
      pointer-events: none;
      height: 10px;
      position: sticky;
      left: 0;
      right: 0;
    }

    .tvk-shader-top {
      display: var(--tvk_messages_shaders_top-display);
      top: calc(var(--tvk_messages_padding) * -1.1);
      background: linear-gradient(
        180deg,
        var(--tvk_wrapper_background) 0%,
        transparent 100%
      );
    }

    .tvk-shader-bottom {
      display: var(--tvk_messages_shaders_bottom-display);
      bottom: calc(var(--tvk_messages_padding) * -1.1);
      background: linear-gradient(
        0deg,
        var(--tvk_wrapper_background) 0%,
        transparent 100%
      );
    }

    // message
    .tvk-message {
      // flex-grow: 1;
      display: flex;

      flex-direction: var(--tvk_message_flex-direction);

      gap: var(--tvk_message_gap);

      flex-wrap: var(--tvk_message_flex-wrap);

      margin: var(--tvk_message_margin);

      scroll-behavior: smooth;

      .tvk-message-answer {
        display: flex;
        flex-wrap: var(--tvk_message_answer_flex-wrap);
        width: 100%;
        gap: var(--tvk_message_answer_gap);
        flex-direction: var(--tvk_message_answer_flex-direction);
        flex-grow: var(--tvk_message_answer_flex-grow);
        flex-shrink: var(--tvk_message_answer_flex-shrink);
        flex-basis: var(--tvk_message_answer_flex-basis);

        // message header
        .tvk-message-header {
          display: flex;
          gap: var(--tvk_message_header_gap);
          align-items: var(--tvk_message_header_align-items);
          margin: var(--tvk_message_header_margin);
          font-size: var(--tvk_message_header_font-size);
          font-weight: var(--tvk_message_header_font-weight);
          color: var(--tvk_message_header_color);

          .tvk-message-header-avatar {
            font-size: var(--tvk_message_header_avatar_font-size);
            box-shadow: var(--tvk_message_header_avatar_box-shadow);
            line-height: var(--tvk_message_header_avatar_line-height);
            img {
              border-radius: var(--tvk_message_header_avatar_img-border-radius);
            }
          }
        }

        // message body
        .tvk-message-body {
          width: var(--tvk_message_body_width);
          max-width: var(--tvk_message_body_max-width);
          display: inline-block;
          flex-grow: var(--tvk_message_body_grow);
          padding: var(--tvk_message_body_padding);
          border-radius: var(--tvk_message_body_radius);
          line-height: var(--tvk_message_body_line-height);

          .tvk-message-content-wrapper {
            p {
              margin: 0;
            }

            hr {
              margin: 1em 0;
              border: 0;
              border-top: 1px solid
                var(--tvk_colors_message-content-elements-surface2);
            }

            blockquote {
              white-space: normal;
              margin: 0;
              margin-block-end: 0.5em;
              margin-block-start: 0.5em;
              padding: 0.5em;

              color: var(--tvk_colors_message-content-elements-text);
              background: var(--tvk_colors_message-content-elements-surface1);
              border-left: 0.5em solid
                var(--tvk_colors_message-content-elements-surface2);

              quotes: "\201C""\201D""\2018""\2019";
            }

            code {
              color: var(--tvk_colors_message-content-elements-text);
              background-color: var(
                --tvk_colors_message-content-elements-surface1
              );
              border: 1px solid
                var(--tvk_colors_message-content-elements-surface2);
              margin: 0 2px;
              padding: 0 0.2em;
              border-radius: var(--tvk_base_radius);
            }

            pre:has(> code) {
              position: relative;

              .tvk-message-content-copy-button {
                position: absolute;
                margin: 0;
                top: 0.2em;
                right: 0.3em;
                z-index: 10;
                display: none;

                background: var(--tvk_colors_message-content-elements-surface2);
                color: var(--tvk_colors_message-content-elements-text);
                padding: var(--tvk_base_spacing);

                &:hover:not([disabled]) {
                  background: hsl(
                    var(--tvk_colors_brand-hue)
                      var(--tvk_colors_brand-saturation)
                      var(--tvk_colors_brand-lightness) / 0.7
                  );
                  box-shadow: none;
                }
              }

              code {
                display: block;
                padding: var(--tvk_base_spacing)
                  calc(var(--tvk_base_spacing) * 2);
              }
            }

            table {
              thead {
                font-weight: bold;
                th {
                  border: none !important;
                  border-bottom: 2px solid
                    var(--tvk_colors_message-content-elements-surface2) !important;
                  padding: 0.4em !important;
                }
              }

              tbody {
                td {
                  border: none !important;
                  border-bottom: 1px solid
                    var(--tvk_colors_message-content-elements-surface2) !important;
                  padding: 0.4em !important;
                }
              }
            }
          }
        }

        .tvk-message-body-from-app {
          display: inline-block;
          flex-grow: var(--tvk_message_body_grow);
          padding: var(--tvk_message_body_padding);
          border-radius: var(--tvk_message_body_radius);
          width: 100%;

          .tvk-message-loader {
            position: relative;

            margin: var(--tvk_message_loader_margin);

            width: var(--tvk_message_loader_size);
            height: var(--tvk_message_loader_size);

            border-radius: 50%;

            background: var(--tvk_message_loader_color-a);

            box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
                var(--tvk_message_loader_color-a),
              calc(var(--tvk_message_loader_size) * 2 * -1) 0
                var(--tvk_message_loader_color-a);

            animation: tvk-loader-animation 0.5s ease-out infinite alternate;
          }
        }
      }

      // USER
      &.tvk-message-user {
        margin: var(--tvk_message_user_margin);

        .tvk-message-answer {
          flex-direction: var(--tvk_message_answer_user_flex-direction);
          justify-content: var(--tvk_message_answer_user_justify-content);
          align-items: var(--tvk_message_answer_user_align-items);

          margin: var(--tvk_message_answer_user_margin);
          padding: var(--tvk_message_answer_user_padding);
          color: var(--tvk_message_answer_user_color);
          background: var(--tvk_message_answer_user_background);

          border: var(--tvk_message_answer_user_border);
          border-top: var(--tvk_message_answer_user_border-top);
          border-right: var(--tvk_message_answer_user_border-right);
          border-bottom: var(--tvk_message_answer_user_border-bottom);
          border-left: var(--tvk_message_answer_user_border-left);

          .tvk-message-header {
            flex-direction: var(--tvk_message_header_user_flex-direction);

            .tvk-message-header-avatar {
              padding: var(--tvk_message_header_avatar_user_padding);
              border-radius: var(--tvk_message_header_avatar_user_radius);
              color: var(--tvk_message_header_avatar_user_color);
              background: var(--tvk_message_header_avatar_user_background);
            }

            .tvk-message-header-label-bot {
              display: none;
            }
          }

          .tvk-message-body {
            color: var(--tvk_message_body_user_color);
            background: var(--tvk_message_body_user_background);

            border: var(--tvk_message_body_user_border);

            border-top-left-radius: var(
              --tvk_message_body_user_radius-top-left
            );
            border-top-right-radius: var(
              --tvk_message_body_user_radius-top-right
            );
            border-bottom-left-radius: var(
              --tvk_message_body_user_radius-bottom-left
            );
            border-bottom-right-radius: var(
              --tvk_message_body_user_radius-bottom-right
            );

            box-shadow: var(--tvk_message_body_user_box-shadow);

            font-weight: var(--tvk_message_body_user_font-weight);
          }
        }
      }

      // BOT
      &.tvk-message-bot {
        margin: var(--tvk_message_bot_margin);

        .tvk-message-answer {
          flex-direction: var(--tvk_message_answer_bot_flex-direction);
          justify-content: var(--tvk_message_answer_bot_justify-content);
          align-items: var(--tvk_message_answer_bot_align-items);

          margin: var(--tvk_message_answer_bot_margin);
          padding: var(--tvk_message_answer_bot_padding);
          color: var(--tvk_message_answer_bot_color);
          background: var(--tvk_message_answer_bot_background);

          border: var(--tvk_message_answer_bot_border);
          border-top: var(--tvk_message_answer_bot_border-top);
          border-right: var(--tvk_message_answer_bot_border-right);
          border-bottom: var(--tvk_message_answer_bot_border-bottom);
          border-left: var(--tvk_message_answer_bot_border-left);

          .tvk-message-header {
            flex-direction: var(--tvk_message_header_bot_flex-direction);

            .tvk-message-header-avatar {
              padding: var(--tvk_message_header_avatar_bot_padding);
              border-radius: var(--tvk_message_header_avatar_bot_radius);
              color: var(--tvk_message_header_avatar_bot_color);
              background: var(--tvk_message_header_avatar_bot_background);
            }

            .tvk-message-header-label-user {
              display: none;
            }
          }

          .tvk-message-body {
            // white-space: pre-line;

            color: var(--tvk_message_body_bot_color);
            background: var(--tvk_message_body_bot_background);

            border-top-left-radius: var(--tvk_message_body_bot_radius-top-left);
            border-top-right-radius: var(
              --tvk_message_body_bot_radius-top-right
            );
            border-bottom-left-radius: var(
              --tvk_message_body_bot_radius-bottom-left
            );
            border-bottom-right-radius: var(
              --tvk_message_body_bot_radius-bottom-right
            );

            border: var(--tvk_message_body_bot_border);

            box-shadow: var(--tvk_message_body_bot_box-shadow);

            font-weight: var(--tvk_message_body_bot_font-weight);
          }
        }
      }
    }
  }

  .tvk-side-footnotes {
    flex-grow: var(--tvk_side-footnotes_flex-grow);
    flex-shrink: var(--tvk_side-footnotes_flex-shrink);
    flex-basis: var(--tvk_side-footnotes_flex-basis);
  }

  .tvk-footnotes {
    display: var(--tvk_footnotes_display);
    flex-direction: var(--tvk_footnotes_flex-direction);
    flex-wrap: var(--tvk_footnotes_flex-wrap);
    gap: var(--tvk_footnotes_gap);
    align-items: var(--tvk_footnotes_align-items);
    margin: var(--tvk_footnotes_margin);
    font-size: var(--tvk_footnotes_font-size);

    .tvk-footnotes-sources-label {
      display: var(--tvk_footnotes_sources-title_display);
    }

    .tvk-footnote {
      display: flex;
      flex-direction: var(--tvk_footnotes_footnote_flex-direction);
      justify-content: var(--tvk_footnotes_footnote_justify-content);
      gap: var(--tvk_footnotes_footnote_gap);

      width: var(--tvk_footnotes_footnote_width);
      padding: var(--tvk_footnotes_footnote_padding);

      background: var(--tvk_footnotes_footnote_background);
      color: var(--tvk_footnotes_footnote_color);
      line-height: var(--tvk_footnotes_footnote_line-height);

      border: var(--tvk_footnotes_footnote_border);
      border-radius: var(--tvk_footnotes_footnote_border-radius);
      box-shadow: var(--tvk_footnotes_footnote_box-shadow);

      .tvk-footnote-title {
        font-size: var(--tvk_footnotes_footnote_title_font-size);
        font-weight: var(--tvk_footnotes_footnote_title_font-weight);
        font-style: var(--tvk_footnotes_footnote_title_font-style);
      }

      .tvk-footnote-content {
        white-space: pre-line;
        margin: var(--tvk_footnotes_footnote_content_margin);
        padding: var(--tvk_footnotes_footnote_content_padding);
        font-size: var(--tvk_footnotes_footnote_content_font-size);
        font-weight: var(--tvk_footnotes_footnote_content_font-weight);
        font-style: var(--tvk_footnotes_footnote_content_font-style);
        .tvk-footnote-content-show-more-link {
          float: var(--tvk_footnotes_footnote_content_show-more-link_float);
        }
      }
    }
  }

  // question-bar
  .tvk-question-bar {
    display: flex;
    flex-direction: var(--tvk_question_flex-direction);
    gap: 0.5em;
    align-items: center;

    width: var(--tvk_question_width);
    margin: var(--tvk_question_margin);
    padding: var(--tvk_question_padding);

    border: var(--tvk_question_border);

    border-radius: var(--tvk_question_radius);

    background: var(--tvk_question_background);

    color: var(--tvk_question_color);

    box-shadow: var(--tvk_question_box-shadow);

    .tvk-question-bar-btn-clear-history {
      display: flex;
      gap: var(--tvk_question_btn-clear-history_gap);
      flex-direction: var(--tvk_question_btn-clear-history_flex-direction);
    }

    .tvk-question-bar-form {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin: 0;

      .tvk-question-bar-input {
        flex-grow: 1;
        width: 100%;
        border: none;
        resize: none;
        cursor: text;
        background: transparent;
        color: inherit;
        margin: 0;
        height: 100%;
        text-align: var(--tvk_question_input_text-align);

        &:focus-visible {
          outline: none;
        }
      }

      .tvk-question-bar-chars-count {
        display: var(--tvk_question_chars-count_display);
        font-size: var(--tvk_question_chars-count_font-size);
        color: var(--tvk_colors_text-muted);
      }
    }

    .tvk-question-bar-btn-submit {
      display: flex;
      gap: var(--tvk_question_btn-submit_gap);
      flex-direction: var(--tvk_question_btn-submit_flex-direction);

      background: var(--tvk_question_btn-submit_background);
      color: var(--tvk_question_btn-submit_color);
      border: var(--tvk_question_btn-submit_border);
      border-radius: var(--tvk_question_btn-submit_border-radius);
      padding: var(--tvk_question_btn-submit_padding);

      &[disabled] {
        background: var(--tvk_colors_neutral);
      }
    }
  }
}

@keyframes tvk-loader-animation {
  0% {
    background: var(--tvk_message_loader_color-b);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-b),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-a);
  }
  50% {
    background: var(--tvk_message_loader_color-a);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-b),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-b);
  }
  100% {
    background: var(--tvk_message_loader_color-b);
    box-shadow: calc(var(--tvk_message_loader_size) * 2) 0
        var(--tvk_message_loader_color-a),
      calc(var(--tvk_message_loader_size) * 2 * -1) 0
        var(--tvk_message_loader_color-b);
  }
}

.tvk-card {
  text-align: var(--tvk_card_text-align);
}

.tvk-thumbnail {
  padding: var(--tvk_thumbnail_padding);
  border-radius: var(--tvk_base_radius);
  background: var(--tvk_thumbnail_background);
  border: var(--tvk_thumbnail_border);
  max-width: var(--tvk_thumbnail_max-width);
  height: var(--tvk_thumbnail_height);
  max-height: var(--tvk_thumbnail_max-height);
}

.tvk-carousel {
  width: 100%;
  // height: 100%;
  overflow: hidden;

  .tvk-carousel-inner {
    display: flex;
    align-items: center;

    .tvk-carousel-card {
      width: auto;
      min-width: 10em;
      padding-right: 0.5em;
    }
  }
}

.tvk-carousel-controls {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: space-between;
}

.tvk-clamp {
  --tvk-clamp-nb-line: 3;
  -webkit-line-clamp: var(--tvk-clamp-nb-line);
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tvk-error-connection {
  color: white;
  background: orangered;
  padding: 0.5em;
  text-align: center;

  .tvk-error-icon {
    font-size: 150%;
    vertical-align: middle;
    margin-right: 0.3em;
  }
}
